# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3

# Environment variables / secrets
.env
*.env

# IDE / editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Static / media
staticfiles/
media/
